<%= form_for @garment do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :color %>
    <%= f.text_field :color %>
  </div>
  <div>
    <%= f.label :material %>
    <%= f.text_field :material %>
  </div>
  <div>
    <%= f.label :price %>
    <%= f.number_field :price, :step => 0.25 %>
  </div>
  <div>
    <%= f.label :cool %>
    <%= f.check_box :cool %>
  </div>
  <div> <%= f.submit %> </div>
<% end %>
